<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minatovar</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в Minatovar</h1>
        <p>Подписывайтесь на наш Telegram-канал, чтобы быть в курсе всех новинок и акций</p>
        <a href="https://t.me/MINATOVARSHOP" class="channel-link" target="_blank">Перейти в Telegram</a>
    </div>
</body>
</html>
